<section class="page binnakle-the-expedition">
    <div class="container-fluid">
        <div class="row">
            <div class="the-expedition-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="binnakle-the-expedition-logo"><img src="images/logo-the-expedition.png"
                                    alt="binnakle-the-expedition-logo" /></div>
                            <div class="binnakle-the-expedition-texto">
                                <p class="novedad">¡NOVEDAD! Ahora con plataforma digital</p>
                                <p>Binnakle The Expedition es una herramienta de innovación que a través de una
                                    experiencia<br /> lúdica basada en una metodología contrastada y validada durante
                                    más de 15 años por la<br /> consultora Inteligencia Creativa, permite encontrar
                                    ideas innovadoras sobre cualquier tema<br /> de la organización de forma efectiva y
                                    a la vez divertida</p>
                                <div class="div-boton-presentacion"><a class="boton-presentacion" href="#">Presentación
                                    </a></div>
                                <div class="div-botones-comprar"><a class="button-green" href="#">COMPRAR</a> <a
                                        class="button-green" href="#">JUGAR PARTIDA</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mission0-carousel">
    <div id="carouselMission0" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li class="active" data-target="#carouselMission0" data-slide-to="1"><span class="d-none">hide</span></li>
            <li data-target="#carouselMission0" data-slide-to="2"><span class="d-none">hide</span></li>
            <li data-target="#carouselMission0" data-slide-to="3"><span class="d-none">hide</span></li>
            <li data-target="#carouselMission0" data-slide-to="4"><span class="d-none">hide</span></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/images/the-expedition/carousel/1-1920.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/the-expedition/carousel/1-1920.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/the-expedition/carousel/1-1920.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/the-expedition/carousel/1-1920.jpg">
            </div>
        </div>
        <a class="carousel-control carousel-control-prev" href="#carouselMission0" data-slide="prev"> <i
                class="fa fa-chevron-left"><span class="d-none">hide</span></i> </a> <a
            class="carousel-control carousel-control-next" href="#carouselMission0" data-slide="next"> <i
                class="fa fa-chevron-right"><span class="d-none">hide</span></i> </a>
    </div>
</section>
<section>
    <div class="container binnakle-ayuda">
        <div class="row">
            <div class="col-12">
                <h2>Binnakle The Expedition ayuda a las empresas a</h2>
                <p>Nunc egestas est ac ligula feugiat, at imperdiet elit gravida. Maecenas fringilla tortor nec leo
                    rutrum tempor.</p>
                <p>Duis consectetur, enim nec pellentesque pretium, dui mauris semper erat, at pellentesque purus orci
                    at neque.</p>
                <p>Quisque in metus lorem. In imperdiet sodales arcu, nec porttitor lectus scelerisque at.</p>
                <p> </p>
                <h2>Basado en una metodología contrastada</h2>
                <p><img class="img-fluid" src="images/the-expedition/metodolia.jpg" /></p>
                <p> </p>
                <h2>Con plataforma digital</h2>
            </div>
        </div>
    </div>
    <div class="container binnakle-plataforma">
        <div class="row">
            <div class="col-md-6">
                <div class="row v-center">
                    <div class="col-lg-12 image-plataforma-left"><img class="img-fluid"
                            src="images/the-expedition/tablet.jpg" alt="Binnakle expedition" /></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row v-center">
                    <div class="col-lg-12">
                        <div class="coltexto">
                            <h3>Binnakle Mission 0 ayuda a las empresas a</h3>
                            <p>Etiam blandit dolor felis, id blandit diam volutpat a. Nunc egestas est ac ligula
                                feugiat, at imperdiet elit gravida. Maecenas fringilla tortor nec leo rutrum tempor.
                                Donec a neque auctor, facilisis velit quis, vehicula ligula. Duis consectetur, enim nec
                                pellentesque pretium, dui mauris .</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="misiones">
    <div class="container-fluid">
        <div class="row mision">
            <div class="col-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="texto texto-mas-ancho">
                            <h2>LAS MISIONES</h2>
                            <p class="forzar-ancho"><strong>Binnakle abarca las 4 fases del pensamiento creativo, que llamamos Misiones. Los
                                    exploradores, compitiendo por equipos, deberán superar las 4 Misiones para completar
                                    con éxito
                                    la expedición.</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid misiones-list">
        <div class="row mision mision-1">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="texto">
                            <h2>MISIÓN UNO</h2>
                            <p><strong>La laguna de los interrogantes</strong></p>
                            <p>La mejor manera de descubrir nuevas respuestas es encontrar nuevas preguntas. Antes de
                                decidiros por un camino en busca de las ideas, Binnakle os ayuda en esta primera Misión
                                a reformular el problema inicial, localizar posibles rutas y nuevos planteamientos de
                                viaje. Vuestro recorrido por la Laguna de los Interrogantes os ayudará a encontrar un
                                mínimo de 15 reformulaciones, por equipo, del reto o pregunta que nos ocupa.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-12 noppading image"><span class="d-none">hide</span></div>
                </div>
            </div>
        </div>
        <div class="row mision mision-2">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-12 noppading image"><span class="d-none">hide</span></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="texto">
                            <h2>MISIÓN DOS</h2>
                            <p><strong>El bosque de las luces</strong></p>
                            <p>El objetivo es adentrarse en la profundidad de “El bosque de las luces” y localizar los
                                caminos que puedan llevarnos a los lugares más interesantes. En esta etapa es importante
                                apostar por las rutas más desconocidas y emocionantes. Binnakle os guiará y pondrá a
                                vuestra disposición las técnicas necesarias para generar y encontrar un gran número de
                                ideas. <br /> El objetivo es conseguir la mayor cantidad de ideas posible, ya que por
                                simple estadística, podremos encontrar más ideas de calidad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mision mision-3">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="texto">
                            <h2>MISIÓN TRES</h2>
                            <p><strong>El valle de las dos caras</strong></p>
                            <p>Una vez tenéis la mochila llena de ideas innovadoras es hora de explorarlas, de ponerlas
                                a prueba descubriendo sus puntos débiles y fuertes. Los diferentes grupos atacarán
                                primero unas ideas y defenderán después las ideas atacadas por otro grupo,
                                transformándolas en conceptos concretos. <br /> Te sorprenderá comprobar que cuantas más
                                debilidades encontramos para una idea, más material tenemos para mejorarla. El objetivo
                                de esta fase es encontrar puntos débiles y puntos fuertes de las ideas generadas,
                                aterrizando y concretando las ideas seleccionadas.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-12 noppading image"><span class="d-none">hide</span></div>
                </div>
            </div>
        </div>
        <div class="row mision mision-4">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-12 noppading image"><span class="d-none">hide</span></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="texto">
                            <h2>MISIÓN CUATRO</h2>
                            <p><strong>La playa de los nuevos horizontes</strong></p>
                            <p>La última etapa en “La Playa de los nuevos horizontes” pone a punto las mejores ideas
                                generadas durante la partida. Es el momento de demostrar que esas ideas tienen futuro y
                                que deben zarpar en busca del éxito. Las que no logren convencer se quedarán en tierra.
                            </p>
                            <p>Esta misión tiene 3 momentos:</p>
                            <ul>
                                <li>Test, prototipo y enfoque de la venta</li>
                                <li>Presentación de las ideas</li>
                                <li>Cierre y próximos pasos</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="resultados">
    <div class="container">
        <div class="row">
            <div class="col-12 resultados-titulo">
                <p><strong>EL RESULTADO</strong></p>
                <p>Una vez finalizada la partida obtendremos</p>
            </div>
            <div class="col-12 col-md-4">
                <div class="resultado">
                    <div class="resultado-header"><span class="d-none">hide</span></div>
                    <div class="resultado-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere urna volutpat augue
                            rutrum pharetra nec ac metus. Nam in consequat ante. Morbi sit amet diam</p>
                    </div>
                    <div class="resultado-footer"><span class="d-none">hide</span></div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="resultado">
                    <div class="resultado-header"><span class="d-none">hide</span></div>
                    <div class="resultado-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere urna volutpat augue
                            rutrum pharetra nec ac metus. Nam in consequat ante. Morbi sit amet diam</p>
                    </div>
                    <div class="resultado-footer"><span class="d-none">hide</span></div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="resultado">
                    <div class="resultado-header"><span class="d-none">hide</span></div>
                    <div class="resultado-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere urna volutpat augue
                            rutrum pharetra nec ac metus. Nam in consequat ante. Morbi sit amet diam</p>
                    </div>
                    <div class="resultado-footer"><span class="d-none">hide</span></div>
                </div>
            </div>
        </div>
    </div>
</section>